*{
margin: 0px;
padding: 0px;
font-family: sans-serif;
box-sizing: border-box;
}
body{
	background: #dedede;
	display: flex;
	min-height: 100vh;
}
form{
	margin: auto;
	width: 50%;
	max-width: 500px;
	background: #f3f3f3;
	padding: 30px;
	border: 1px solid black;
}
h2{
	text-align: center;
	margin-bottom: 20px;
	color: rgba(0, 0, 0, 0.5);
}